{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <div class="card card-custom p-5">
            <div class="text-center mb-5">
                <h3 class="fw-bold text-brand-black">Acceso al Panel</h3>
                <p class="text-muted">Introduce tus credenciales operativas</p>
            </div>
            
            <form method="POST" action="/auth/login">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="mb-4">
                    <label class="form-label fw-bold text-brand-black">Correo Electrónico</label>
                    <input type="email" class="form-control form-control-lg bg-light border-0" name="email" required placeholder="tu@cases.com">
                </div>
                
                <div class="mb-5">
                    <label class="form-label fw-bold text-brand-black">Contraseña</label>
                    <input type="password" class="form-control form-control-lg bg-light border-0" name="password" required placeholder="••••••••">
                </div>
                
                <div class="d-grid">
                    <!-- Botón de Login ahora en Azul Turquesa -->
                    <button type="submit" class="btn btn-blue btn-lg rounded-pill">
                        Ingresar <i class="fa-solid fa-arrow-right ms-2"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
